<!--

Autor:    		Dominik Orliński 
Prawa autorskie:  	(c) Dominik Orliński 
Data:    		1.01.2019 
Wersja:   		1.0

-->

<pre>
<h2 style="margin-top: 0, margin-bottom: 0">Welcome to the cytometric data grouping tool.</h2>
How to use 
===================================================
0. Upload the fcs file
1. Select the grouping algorithm
2. Set the parameters of algorithm
3. Set type of evaluation
4. Click run
5. Wait for result
<b>6. Inspect result
7. Select the charts you want to see</b>
===================================================
<nobr>
   <form action = "{% url 'cytometry:start' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="name" value="{{ name }}">
      <input id="back_btn" type="submit" value="Back to begin" name="back_btn" onclick="back()">
   </form>
</nobr>
<nobr>
<pre lang="html4strict">
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Cytometry Web App</title>
      <link rel="shortcut icon" src="/static/favicon.ico" type="image/x-icon">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script>
         setInterval(function() {
         $.ajax({
         type: 'POST',
         async: false,
         url: "{% url 'cytometry:iamhere' %}",
             data : { 'csrfmiddlewaretoken': '{{ csrf_token }}', name: '{{ name }}' }
         });
         }, 10000);   
      </script>
   </head>
   <script>
      function dim_changed() {
          var selector = document.getElementById("dim");
          var value = selector[selector.selectedIndex].value;
          var pca = document.getElementById("pca");
          if (value == "1" && pca.checked == false) {
      	document.getElementById("first_dim").disabled = false;
      	document.getElementById("second_dim").disabled = true;
      	document.getElementById("third_dim").disabled = true;
          }
          if (value == "2" && pca.checked == false) {
      	document.getElementById("second_dim").disabled = false;
      	document.getElementById("third_dim").disabled = true;
          }
          if (value == "3" && pca.checked == false) {
      	document.getElementById("second_dim").disabled = false;
      	document.getElementById("third_dim").disabled = false;
          }
      }
      function use_pca() {
          var selector = document.getElementById("dim");
          var value = selector[selector.selectedIndex].value;
          var pca = document.getElementById("pca");
          if (pca.checked == true) {
      	document.getElementById("first_dim").disabled = true;
      	document.getElementById("second_dim").disabled = true;
      	document.getElementById("third_dim").disabled = true;
          } else {
      	if (value == "1") {
      	    document.getElementById("first_dim").disabled = false;
      	    document.getElementById("second_dim").disabled = true;
      	    document.getElementById("third_dim").disabled = true;
      	}
      	if (value == "2") {
      	    document.getElementById("first_dim").disabled = false;
      	    document.getElementById("second_dim").disabled = false;
      	    document.getElementById("third_dim").disabled = true;
      	}
      	if (value == "3") {
      	    document.getElementById("first_dim").disabled = false;
      	    document.getElementById("second_dim").disabled = false;
      	    document.getElementById("third_dim").disabled = false;
      	}
          }
      }
      function checkRefresh() {
          if (document.refreshForm.visited.value == "") {
      	document.refreshForm.visited.value = "1";
          } else {
      	alert("Refreshing the page you are doing the same action!")
          }
      }
   </script>
   <body onLoad="JavaScript:checkRefresh();">
      <form name="refreshForm">
         <input type="hidden" name="visited" value="" />
      </form>
      You can download result here:<br>
      <form action ="{% url 'cytometry:download' %}" method="post">
        {% csrf_token %}
        <input type='hidden' id="name" name="file_name" value="{{ name }}"></a>
        <input type="submit" class="btn" value="Download result" name="download">
      </form>
      <form action = "{% url 'cytometry:show' %}" method="post">
         <b>Uploded file: </b> <br>
         <ul>
            <a href="/file/?file={{ name }}" >{{ name }} <input type='hidden' id="name" name="file_name" value="{{ name }}"></a>
            <input type='hidden' id="preprocessing" name="preprocessing" value="{{ preprocessing }}"></a>
         </ul>
         <p><b>6. Result</b></p>
         {% if unknown_k == True %}
         Searching for the correct number of clusters:<br>
         <img id=myImg_2 src="" alt="My image">
         <script>
            function myFunction() {
                name = document.getElementById("name").value
                name = "calinski_results_" + name + ".png"
                document.getElementById("myImg_2").src = "/static/" + name;
            }
            myFunction();
                
         </script>
         {% endif %}
         <br>Cluster number: {{ result.n_clusters }}<br><br>
         {% for check in result.checks %}
         <li> {{ check }}<br>
         </li>
         <br>		
         {% endfor %}
         Clusters parameters:
         <ol>
            {% for cluster in result.clusters %}
            <li> Cluster 
               <br> Number of cells: {{ cluster.number_of_cells }}<br>
               Center: {{ cluster.center }}	
            </li>
            <br>		
            {% endfor %}
         </ol>
         {% csrf_token %}
         <p><b>7. Select the grahps you want to create</b></p>
         <select onchange="dim_changed()" name = "dim" id = "dim">
            <option value="1">histogram</option>
            <option value="2" selected='selected'>2D graph</option>
            <option value="3">3D image</option>
         </select>
         <input type="checkbox" id="pca" name="pca" checked='true' value="pca" onclick="use_pca()">use PCA
         <select name = "first_dim" id="first_dim" disabled="disabled">
            {% for choice in form.my_choice_field.field.choices %}
            <option name="my_choice_field" value="{{choice.0}}" >{{choice.1}}</option>
            {% endfor %}
         </select>
         <select name = "second_dim" id="second_dim" disabled="disabled">
            {% for choice in form.my_choice_field.field.choices %}
            <option name="my_choice_field" value="{{choice.0}}" >{{choice.1}}</option>
            {% endfor %}
         </select>
         <select name = "third_dim" id="third_dim" disabled="disabled">
            {% for choice in form.my_choice_field.field.choices %}
            <option name="my_choice_field" value="{{choice.0}}" >{{choice.1}}</option>
            {% endfor %}
         </select>
         <br>
         <input type="submit" class="btn" value="Show" name="show_btn">
      </form>
      <nobr/>
      {% if img %}
      {% if fig %}
      {% for elem in fig %}
      {{elem|safe}}
      {% endfor %}
      {% else %}
      {% load static %}
      <img id=myImg src="" alt="My image">
      <script>
         function myFunction() {
             name = document.getElementById("name").value
             name = "real_data_result_" + name + ".png"
             document.getElementById("myImg").src = "/static/" + name;
         }
         myFunction();
      </script>
      {% endif %}
      {% endif %}
   </body>
</html>


