<pre>
<h2 style="margin-top: 0, margin-bottom: 0">Welcome to the cytometric data grouping tool.</h2>
How to use 
===================================================
<b>0. Upload the fcs file</b>
1. Select the grouping algorithm
2. Set the parameters of algorithm
3. Set type of evaluation
4. Click run
5. Wait for result
6. Inspect result
7. Select the charts you want to see
===================================================
<nobr>
<pre lang="html4strict">
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Cytometry Web App</title>
      <link rel="shortcut icon" src="/static/favicon.ico" type="image/x-icon">
   </head>
   <script language="JavaScript">
      function wrongFile() {
          alert("Wrong file name or format! \nFile should be in FCS format. \nName can't contain '[', ']', '/'.")
      }
      
      function tooBig() {
          alert("File is too big.\nMax size of file is 10 megabytes.")
      }
        
   </script>
   <body>
      {% if wrong_file %}
      <script>
         wrongFile()
      </script>
      {% endif %}
      {% if too_big %}
      <script>
         tooBig()
      </script>
      {% endif %}
      <p><b>0. Upload the fcs file</b></p>
      <form name='upload_btn' id='upload_form' action="{% url 'cytometry:upload_file' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <p>{{ form.non_field_errors }}</p>
         <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
         <p>Do not worry if the uploaded file changes its name.</p>
         <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
         </p>
         <p><input type="submit" class="btn" value="Upload" name="upload_btn"></p>
      </form>
      <nobr/>
   </body>
</html>


