<!--

Autor:    		Dominik Orliński 
Prawa autorskie:  	(c) Dominik Orliński 
Data:    		1.01.2019 
Wersja:   		1.0

-->

<style>
   .progress {
   width: 100%;
   background-color: #ddd;
   }
   .bar {
   width: 1%;
   height: 30px;
   background-color: #4CAF50;
   text-align:right;
   }
</style>
<pre>
<h2 style="margin-top: 0, margin-bottom: 0">Welcome to the cytometric data grouping tool.</h2>
How to use 
===================================================
0. Upload the fcs file
1. Select the grouping algorithm
2. Set the parameters of algorithm
3. Set type of evaluation
4. Click run
5. <b>Wait for result</b>
6. Inspect result
7. Select the charts you want to see
===================================================
<nobr>
<pre lang="html4strict">
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Cytometry Web App</title>
      <link rel="shortcut icon" src="/static/favicon.ico" type="image/x-icon">
      <script>
         setInterval(function() {
         $.ajax({
         type: 'POST',
         async: false,
         url: "{% url 'cytometry:iamhere' %}",
             data : { 'csrfmiddlewaretoken': '{{ csrf_token }}', name: '{{ name }}' }
         });
         }, 10000);
         
         function checkRefresh() {
          if (document.refreshForm.visited.value == "") {
         document.refreshForm.visited.value = "1";
          } else {
         alert("Refreshing the page you are analyze the same data again.")
          }
         }
         
         function post(path, data) {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", path, true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify(data));
         } 
      </script>
   </head>
   <body onLoad="JavaScript:checkRefresh();">
      <form name="refreshForm">
         <input type="hidden" name="visited" value="" />
      </form>
      <b>Uploded file: </b> <br>
      <ul>
         <a href="/file/?file={{ name }}" >{{ name }} <input type='hidden' name="file_name" value="{{ name }}"></a>
      </ul>
      <p>
         Your task is <span id="user-count"></span>!
      </p>
      <form action = "{% url 'cytometry:upload_file' %}" method="post">
         {% csrf_token %}
         <input type='hidden' id="task_id" name="task_id" value="{{ task_id }}"></li>
         <input type='hidden' id=f_name name="f_name" value="{{ name }}"></li>
         <input type="submit" id="cancelBtn" name="cancel" value="Cancel task" />
      </form>
      <div class="status"></div>
      {% if task_id %}
      <div class="progress">
         <div class="bar"></div>
      </div>
      {% endif %}
      </div>
      <form action = "{% url 'cytometry:result' %}" method="post">
         <input type='hidden' name="file_name" value="{{ name }}"></li>
         {% csrf_token %}
         <input id="returnBtn" type="submit" value="Show result" style="visibility:hidden; margin-top:10px;">
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript">
         var poll_xhr;
         var willstop = 0;
         (function() {
             var poll = function() {
         	console.log(task_id);
         	poll_xhr = $.ajax({
         	    url: 'process_state',
         	    type: 'GET',
         	    success: function(result) {
         	        if (result.process_percent == null || result.process_percent == undefined) {
         	            willstop = 1;
         	            document.getElementById("user-count").textContent = "DONE";
         	            jQuery('.bar').css({
         	                'width': 100 + '%'
         	            });
         	            jQuery('.bar').html(100 + '%');
         	            document.getElementById('returnBtn').style.visibility = 'visible';
         	            document.getElementById('cancelBtn').remove();
         
         	        } else {
         	            jQuery('.bar').css({
         	                'width': result.process_percent + '%'
         	            });
         	            jQuery('.bar').html(result.process_percent + '%');
         	            document.getElementById("user-count").textContent = "PROCRESSING";
         	        };
         	    }
         	});
             };
         
             var refreshIntervalId = setInterval(function() {
         	poll();
         	if (willstop == 1) {
         	    clearInterval(refreshIntervalId);
         	}
             }, 500);
         })();
              
      </script>
      <nobr/>
   </body>
</html>


